@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
	background-color: #32eeee;
}

body {
	background-color: rgb(16, 8, 24);
	color: whitesmoke;
}

.__avatar {
	border: 7px whitesmoke solid;
	border-radius: 15px;
	-webkit-box-shadow: -10px 10px 0px 0px #a04c10;
	-moz-box-shadow: -10px 10px 0px 0px #a04c10;
	box-shadow: -10px 10px 0px 0px #a04c10;
}

p {
	font-weight: 400;
	line-height: 27px;
	font-size: 20px;
}

.__inter {
	font-family: 'Inter';
}

.__mono {
	font-family: 'Space Mono';
}
