@tailwind base;

@font-face {
	font-family: 'BasementGrotesque-Black';
	src: url('/fonts/Basement/BasementGrotesque-Black.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'SpaceMono-Regular';
	src: url('/fonts/Space/SpaceMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}
@font-face {
	font-family: 'Inter-Regular';
	src: url('/fonts/Inter/Inter-Regular.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@tailwind components;
@tailwind utilities;

::selection {
	background-color: #32eeee;
}

body {
	background-color: #090c1b;
	color: whitesmoke;
}

.__avatar {
	border: 7px whitesmoke solid;
	border-radius: 15px;
	-webkit-box-shadow: -10px 10px 0px 0px #ff5722;
	-moz-box-shadow: -10px 10px 0px 0px #ff5722;
	box-shadow: -10px 10px 0px 0px #ff5722;
}

p {
	font-weight: 400;
	line-height: 27px;
	font-size: 20px;
}

.__inter {
	font-family: 'Inter';
}

.__mono {
	font-family: 'Space Mono';
}

.__orange {
	color: #ff5722;
}
